language: scala
scala:
   - 2.11.12
   - 2.12.8
   - 2.13.0

jdk:
 - oraclejdk8

matrix:
  include:
    - jdk: openjdk11
      scala: 2.13.0

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt
